.goals{
    background-color: #f0f8ff;
    padding: 20px;
}

.goals h2{
    color: blue;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.goal-item{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}
.goal-icon{
    text-align: center;
    align-self: center;
}

/* scopes */

.scopes {
    background-color: #f0f8ff;
    padding: 20px;
}

.scope-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scopes h2{
    color: blue;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.scope-item{
    padding: 15px 0;
}

/* team */
.team {
    background-color: #f0f8ff;
    padding: 20px;
}

.team h2 {
    color: blue;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.team-item{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 15px 0;;
}

.team-icon{
    text-align: center;
    align-self: center;
}

/* primary */
.primary {
    background-color: #f0f8ff;
    padding: 20px;
}

.primary h2 {
    color: blue;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.primary-item {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 15px 0;
}

.primary-icon {
    text-align: center;
    align-self: center;
}

/* timeline */
.timeline{
    background-color: #f0f8ff;
    padding: 20px;
}
.timeline h2{
    color: blue;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.timeline-item{
    display: grid;
    grid-template-columns: 20% 1fr;
    padding: 15px 0;

    gap: 30px;
}

.timeline-number{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #9e88ff;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;
}

.timeline-content{
    border-bottom: 1px dashed #aaa;
    padding-bottom: 10px;
}

/* main grid*/
.main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
        "goals team     timeline"
        "scopes primary timeline";
    gap: 10px;
    
    background-color: blue;
    padding: 10px;
}

.goals{
    grid-area: goals;
}
.scopes{
    grid-area: scopes;
}
.team{
    grid-area: team;
}
.primary{
    grid-area: primary;
}
.timeline{
    grid-area: timeline;
}

/* mobile responsive css */
@media(max-width: 767px){
    .main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "goals"
        "scopes"
        "team"
        "primary"
        "timeline";
    }

    .goal-item{
        grid-template-columns: 1fr;
    }

    .scope-container{
        grid-template-columns: 1fr;
    }

    .team-item{
        grid-template-columns: 1fr;
    }

    .primary-item{
        grid-template-columns: 1fr;
    }
}

/* tablet responsive css */

@media(min-width: 768px) and (max-width: 991px){
    .main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "goals"
        "scopes"
        "team"
        "primary"
        "timeline";
    }

    .goal-item{
        grid-template-columns: 1fr;
    }

    .scope-container{
        grid-template-columns: 1fr;
    }

    .team-item{
        grid-template-columns: 1fr;
    }

    .primary-item{
        grid-template-columns: 1fr;
    }
}

